div.map-wrapper
    div.map
        g-map((placesOutput)="OnGetPlace($event);" #gMap)
    div.start-button
        div.btn-group
            a.btn.btn-success#start-button(
                href='#',
                *ngIf="!isGoBtnDisabled",
                (click)=" onGoClick(); gMap.createPath(placesForRouteSearch);")
                | Go!
            a.btn.btn-success.dropdown-toggle(
                href='#',
                *ngIf="!isGoBtnDisabled",
                data-toggle='dropdown',
                aria-expanded='false',
                (click)='$event.preventDefault(); isGoPreferencesVisible = !isGoPreferencesVisible;')
                span.caret
            a.btn.btn-success#start-button(*ngIf="isGoBtnDisabled" class="disabled")
place-info-spoiler
founded-routes-spoiler

div.modal#go-preferences(*ngIf='isGoPreferencesVisible')
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(type="button", data-dismiss="modal",aria-hidden="true", (click)='isGoPreferencesVisible = !isGoPreferencesVisible;') ×
                h4.modal-title Preferences
            div.modal-body
                div.input-group
                    span.input-group-addon $
                    input.form-control(type="text", placeholder="Max expences on road")
                div.col-lg-10
                    h6 Routes
                    div.radio
                        label
                            input#optionsRadios1(type="radio", name="optionsRadios", value="option1", checked="checked")
                            | All Routes
                    div.radio
                        label
                            input#optionsRadios1(type="radio", name="optionsRadios", value="option1", checked="")
                            | The Most Cheapest
                    div.radio
                        label
                            input#optionsRadios1(type="radio", name="optionsRadios", value="option1", checked="")
                            | The Most Shortest
                div.col-lg-10
                    h6 Transportation
                    div.radio
                        label
                            input#optionsRadios1(type="radio", name="optionsRadios", value="option1", checked="")
                            | Exclude Buses
                    div.radio
                        label
                            input#optionsRadios1(type="radio", name="optionsRadios", value="option1", checked="")
                            | Exclude Airplanes
                    div.radio
                        label
                            input#optionsRadios1(type="radio", name="optionsRadios", value="option1", checked="")
                            | Exclude Smth Else

            div.modal-footer
                button.btn.btn-default(type="button", data-dismiss="modal", (click)='isGoPreferencesVisible = !isGoPreferencesVisible;') Close
                button.btn.btn-primary(type="button", (click)=" onGoClick(); gMap.createPath(placesForRouteSearch);") Go Next!